.custom-search {
  position: absolute;
  z-index: 99;
  right: 4px;
  top: 10px;
  width: 10%;
  height: 40%;
}
.card {
  height: calc(100vh - 153px);
  margin-top: 1.5rem;
}
table {
  width: 100%;
  table-layout: fixed;
}
.highlight {
  background-color: red;
}

.list {
  min-height: 100%;
}

as-split.as-transition.as-init:not(.as-dragging) ::ng-deep > .as-split-gutter,
as-split.as-transition.as-init:not(.as-dragging) > .as-split-area {
  transition: flex-basis 0.5s !important;
}

as-split.as-disabled ::ng-deep > .as-split-gutter {
  cursor: pointer !important;
}

.btns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btns > div {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns > div > button {
  margin-bottom: 10px;
}
.logs > p {
  margin-bottom: 5px;
}
.logs > ul {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #bfbfbf;
  background-color: #e8e8e8;
}

.split-example {
  height: calc(100vh - 211px);
}

split-area > p {
  padding: 15px;
}

.example-viewport {
  height: calc(100vh - 221px);
  width: 100%;
  overflow-y: auto;
}

#logContent {
  height: calc(100vh - 221px);
}
#logContent canvas,
#logContent canvas-datagrid {
  --cdg-height: calc(100vh - 300px);
  overflow-y: scroll;
}
.as-vertical[_nghost-c7] {
  overflow-y: scroll;
}
#logContent {
  overflow-y: scroll;
}
